[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
flask = "*"
flask-cors = "*"
aws-wsgi = "*"
flask-injector = "*"
python-dotenv = "*"

[dev-packages]
aws-cdk-aws-sam = "*"
aws-cdk-core = "*"
aws-cdk-aws-lambda = "*"
aws-cdk-aws-iam = "*"
aws-cdk-aws-apigateway = "*"
aws-cdk-aws-s3 = "*"

[requires]
python_version = "3.8"
